.Heavy{
    font-size: 20px;
    font-weight: 700;
}

.Form{
    margin: 15px 25px;
}

.Default{
    text-align: left;
    font-size: 10px;
    font-weight: 700;
}
input[type = text]{ 
    text-align: left;
    width: 100%;
}

input[type = textarea]{
    height: 100px;
    width: 100%;
    text-align: left;
}

.TopHeader{
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: rgb(52, 110, 165);
    width: 70%;
    margin-top: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
}

.TopHeader:hover{
    text-decoration: underline;
}