.HeavyTitle{
    font-size: 20px;
    font-weight: 700;
}

.Form{
    margin: 15px 25px;
}

input.FullSize{
    width: 90%;
    border: none;
    outline: none;
}

.Default{
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}

input[type = text]{ 
    text-align: left;
}

textarea{
    min-height: 100px;
    width: 90%;
    text-align: left;
    outline: none;
}

.Description{
    border: none;
    resize: none;
}

.SmallLogo{
    width: 200px;
    height: 100px;
}

.BorderForm{
    border: 1px solid rgb(233, 227, 225);
    box-sizing: border-box;
    margin-bottom: 10px;
}

@media screen and (max-width: 420px){
    .HeavyTitle{
        font-size: 15px;
        font-weight: 700;
    }

    .Default{
        font-size: 10px;
        font-weight: 700;
    }
    .SmallLogo{
        width: 100px;
        height: 50px;
    }
}