.CheckBoxWrapper{
    margin-bottom: 20px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 2px;
}

input.TextPosition{
    border: none;
    outline: none;
    width: 100%;
}


.CheckboxPosition{
    float: left;
}

.MiddleText{
    margin-top: 4px;
    margin-left: 26px;
}

.FormWrapper{
    margin-bottom: 15px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 2px;
    box-sizing: border-box;
}

.FormContainter{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 22px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.Line{
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.4;
    width: 92%;
    border-top: 1px solid grey;
}

.FormText{
    display: inline-block;
    width: 120px;
    padding: 5px;
    font-size: 12px;
    text-align: right;
}

.FormTextLine{
    margin-left: 0px;
    display: inline-block;
    box-sizing: border-box;
}

.ButtonsFormPosition{
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
}