
.BigFontToDoPoint{
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
    color: black;
}
.Hidden{
    display: none;
}
.Block{
    margin-left: 21px;
    margin-bottom: 10px;
    display: block;
}
.MiddleToDoPart{
    margin-top: 40px;
    width: 75%;
    display: inline-block;
    text-align: left;
    word-wrap: break-word; 
}