.Circle{
    margin-bottom: 0px;
    margin-top: 13px;
    width: 15px;
    height: 15px;
    background: rgb(82, 167, 82);
    border-radius: 10px;
    float: left;
}

.Light{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 10px;
    color: grey;
}

.BigFont{
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 12px;
    color: blue;
}

@media screen and (max-width: 420px){
    .Circle{
        margin-top: 12px;
    }

    .BigFont{
        font-size: 10px;
    }
}