.Circle{
    margin-bottom: 0px;
    margin-top: 13px;
    width: 15px;
    height: 15px;
    background: rgb(82, 167, 82);
    box-shadow: 
        0 0 1px rgba(0,0,0,.25),
        0 1px 3px rgba(0,0,0,.1);
    border-radius: 10px;
    float: left;
}

.Light{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 10px;
    color: grey;
}

.BigFont{
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(113, 113, 235);
    text-decoration: underline;
}

@media screen and (max-width: 420px){
    .Circle{
        margin-top: 12px;
    }

    .BigFont{
        font-size: 10px;
    }
}