.AddProjectCard{
    min-height: 80px;
    margin: 10px 20%;
    padding: 25px 10px;
    border: 1px solid rgb(233, 227, 225);
    border-radius: 7px;
    font-size: 15px;
    color: rgb(66, 64, 64);
    background-color: white;
}