.ProjectCard{
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: rgb(66, 64, 64);
    min-height: 120px;
    margin: 10px 20%;
    padding: 10px;
    border: 1px solid rgb(233, 227, 225);
    background-color: white;
    border-radius: 7px;
    
}

.ProjectCardDescription{
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 12px;
}
