.MainBar{
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: rgb(66, 64, 64);
}

.MainBar > div{
    min-height: 150px;
    margin: 15px 25px;
    padding: 10px;
    border: 1px solid rgb(233, 227, 225);
    background-color: white;
    border-radius: 7px;
}